*{
    padding:0;
    margin:0;
}



.header{
    background-color: rgb(255, 195, 84); 
    width: 100vw;
    height: 25vh;
    display: flex;
}

.imagen{
    width: 150px;
    height: 150px;
    background: rgb(255, 178, 35);
    margin-right: 20px;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 500px;
  }
  
.titulo{
    height: 23px;
    width: 600px;
    background: rgb(255, 178, 34);
    margin-bottom: 10px;
    margin-top: 55px;

}

.linea{
    height: 11px;
    background: white;
    margin: 20px 0;
    width: 100%;
}

.lineacorta{
  height: 11px;
  background: white;
  margin: 20px 0;
  width: 70%;
}

.cuadrados {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px 0;
  }
  
  .cajas {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 200px;
  }
  
  .azul, .roja, .amarilla {
    width: 150px;
    height: 150px;
  }
  
  .azul {
    background: #b6e8ee;
    border-top: 10px solid #94dce4;
  }
  
  .roja {
    background: #ffa68c;
    border-top: 10px solid #f47f61;
  }
  
  .amarilla {
    background: #ffd87a;
    border-top: 10px solid #fccc4c;
  }

  .footer {
    background-color: rgb(194, 194, 194);
    padding: 45px 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-contenido {
    display: flex;
    gap: 200px;
  }
  
  .columna {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .barra {
    height: 15px;
    width: 250px;
    background: #aaa;
    margin-bottom: 10px;
  }
  
  .texto-footer {
    height: 7px;
    width: 250px;
    background: white;
    margin: 7px 0;
  }

  .textochico-footer {
    height: 7px;
    width: 200px;
    background: white;
    margin: 7px 0;
  }