*{
    padding:0;
    margin:0;
}



.header{
    background-color: rgb(255, 190, 69); 
    width: 100vw;
    height: 25vh;
    display: flex;
}

.imagen{
    width: 150px;
    height: 150px;
    background: orange;
    margin-right: 20px;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 500px;
  }
  
.titulo{
    height: 23px;
    width: 600px;
    background: orange;
    margin-bottom: 10px;
    margin-top: 55px;

}

.linea{
    height: 11px;
    background: white;
    margin: 5px 0;
    width: 100%;
}

.cuadrados {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .cajas {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 200px;
  }
  
  .azul, .roja, .amarilla {
    width: 150px;
    height: 150px;
  }
  
  .azul {
    background: #b6e8ee;
    border-top: 10px solid #94dce4;
  }
  
  .roja {
    background: #ffa68c;
    border-top: 10px solid #f47f61;
  }
  
  .amarilla {
    background: #ffd87a;
    border-top: 10px solid #fccc4c;
  }